Repository piratf/windows-folder-remark: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-tests, build-exe

run-tests:
  name: Run tests
  entry: pytest -v -m "not slow" --cov=remark --cov-report=term-missing
  language: system
  stages:
  - pre-commit
  - pre-push
  pass_filenames: false

build-exe:
  name: Build exe (Windows only)
  entry: bash -c 'set -e; if [[ "$OSTYPE" == "msys" || "$OSTYPE" == "win32" ]]; then pyinstaller remark.spec --clean && ./dist/windows-folder-remark.exe --help; else echo "Skip build on non-Windows"; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

fix: use LF line endings when writing pyproject.toml
  scripts/release.py
Due: run-tests, build-exe

bump: version to 2.0.4
  pyproject.toml
Due: none

fix: 禁用 CLI 测试中的后台更新检查，避免 pyfakefs 隔离被破坏
  tests/unit/test_cli_commands.py
Due: run-tests, build-exe

fix: 修复 CI 构建时的编码问题
  remark.spec
Due: build-exe

docs: 更新 README 添加新功能说明
  readme.md
Due: none

refactor: 优化更新检查逻辑和函数命名
  remark/cli/commands.py
  remark/utils/updater.py
  tests/unit/test_cli_commands.py
  tests/unit/test_updater.py
Due: run-tests, build-exe

feat: 为 Windows 可执行文件添加自动更新功能 (#13)
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  readme.md
  remark.spec
  remark/cli/commands.py
  remark/utils/constants.py
  remark/utils/updater.py
  scripts/analyze_exe_size.py
  scripts/build.py
  scripts/ensure_upx.py
  scripts/release.py
  tests/unit/test_cli_commands.py
  tests/unit/test_updater.py
Due: run-tests, build-exe

feat: 支持 --view/--delete/--gui 命令的模糊路径解析
  remark/cli/commands.py
  tests/unit/test_cli_commands.py
Due: run-tests, build-exe

bump: version to 2.0.5
  pyproject.toml
Due: none

test: 移除测试中不必要的 patch 和 print 屏蔽
  tests/unit/test_cli_commands.py
Due: run-tests, build-exe

feat: 支持 --view/--delete/--gui 命令的模糊路径解析 (#14)
  pyproject.toml
  remark/cli/commands.py
  tests/unit/test_cli_commands.py
Due: run-tests, build-exe

feat: 实现多语言支持 (i18n)
  .gitignore
  .pre-commit-config.yaml
  README.zh-CN.md
  babel.cfg
  locale/zh/LC_MESSAGES/messages.po
  pyproject.toml
  readme.md
  remark/cli/__main__.py
  remark/cli/commands.py
  remark/core/folder_handler.py
  remark/i18n.py
  remark/storage/desktop_ini.py
  remark/utils/platform.py
Due: run-tests, build-exe

docs: update README with tool advantages and fix filename case
  README.md
  README.zh.md
Due: none

feat: 改进 Windows 语言检测，添加 GetUserDefaultLocaleName API 支持
  remark/cli/commands.py
  remark/i18n.py
  tests/unit/test_i18n.py
Due: run-tests, build-exe

chore: improve i18n workflow and fix README naming
  .gitignore
  .pre-commit-config.yaml
  README.zh.md
  messages.pot
  readme.md
Due: none

fix: 修复打包后语言切换功能和控制台输出乱码
  remark.spec
  remark/cli/commands.py
  remark/i18n.py
Due: run-tests, build-exe

feat: add VitePress bilingual documentation site
  .gitignore
  README.md
  docs/.vitepress/config.mjs
  docs/en/guide/api.md
  docs/en/guide/getting-started.md
  docs/en/guide/usage.md
  docs/en/index.md
  docs/zh/guide/api.md
  docs/zh/guide/getting-started.md
  docs/zh/guide/usage.md
  docs/zh/index.md
  package-lock.json
  package.json
Due: none

test: add feat-i18n branch trigger for testing
  .github/workflows/deploy-docs.yml
Due: none

chore: bump version to 2.0.6 and enhance SEO
  README.md
  README.zh.md
  pyproject.toml
Due: none

test: remove feat-i18n branch trigger after testing
  .github/workflows/deploy-docs.yml
Due: none

fix: correct workflow path for package.json
  .github/workflows/deploy-docs.yml
Due: none

refactor: restructure README files and add GitHub Pages deployment
  .github/workflows/deploy-docs.yml
  README.en.md
  README.md
  README.zh.md
Due: none

fix: simplify locale config and nav links
  docs/.vitepress/config.mjs
Due: none

docs: add prominent language switch links to READMEs
  README.en.md
  README.md
Due: none

fix: add base path for GitHub Pages
  docs/.vitepress/config.mjs
Due: none

revert: restore working config for VitePress build
  docs/.vitepress/config.mjs
Due: none

fix: set default language to zh for tests
  tests/conftest.py
Due: run-tests, build-exe

fix: set LANG env var before imports for consistent i18n in tests
  tests/conftest.py
Due: run-tests, build-exe

fix: prioritize LANG env var for consistent i18n in tests
  remark/i18n.py
  tests/unit/test_i18n.py
Due: run-tests, build-exe

fix: force reinitialize translator to Chinese in pytest_configure
  tests/conftest.py
Due: run-tests, build-exe

fix: ensure sys is imported before use in pytest_configure
  tests/conftest.py
Due: run-tests, build-exe

fix: add autouse fixture to set Chinese language before each test
  tests/conftest.py
Due: run-tests, build-exe

fix: set language at module level before any imports
  tests/conftest.py
Due: run-tests, build-exe

test: add detailed debug output for translation loading
  tests/conftest.py
Due: run-tests, build-exe

fix: include compiled .mo translation files in repository
  .gitignore
  locale/zh/LC_MESSAGES/messages.mo
Due: none

test: remove debug output from conftest.py
  tests/conftest.py
Due: run-tests, build-exe

docs: 优化工具描述，去除生硬信息
  README.en.md
  README.md
  docs/en/index.md
  docs/zh/index.md
Due: none

feat: 实现多语言支持 (i18n) + SEO 优化 + GitHub Pages (#15)
  .github/workflows/deploy-docs.yml
  .gitignore
  .pre-commit-config.yaml
  README.en.md
  README.md
  babel.cfg
  docs/.vitepress/config.mjs
  docs/en/guide/api.md
  docs/en/guide/getting-started.md
  docs/en/guide/usage.md
  docs/en/index.md
  docs/zh/guide/api.md
  docs/zh/guide/getting-started.md
  docs/zh/guide/usage.md
  docs/zh/index.md
  locale/zh/LC_MESSAGES/messages.mo
  locale/zh/LC_MESSAGES/messages.po
  messages.pot
  package-lock.json
  package.json
  pyproject.toml
  remark.spec
  remark/cli/__main__.py
  remark/cli/commands.py
  remark/core/folder_handler.py
  remark/i18n.py
  remark/storage/desktop_ini.py
  remark/utils/platform.py
  tests/conftest.py
  tests/unit/test_i18n.py
Due: run-tests, build-exe

feat(seo): 完成高级 SEO 优化配置
  docs/.vitepress/config.mjs
  docs/en/index.md
  docs/guide/api.md
  docs/guide/getting-started.md
  docs/guide/usage.md
  docs/index.md
  docs/robots.txt
Due: none

Path conditions:
  run-tests: any of: \.py$, but not: ^(?:
    \.venv/|
    \.git/|
    \.mypy_cache/|
    __pycache__/|
    build/|
    dist/|
    *.egg-info/
  )

  build-exe: any of: ^(.*\.py|.*\.spec)$, but not: ^(?:
    \.venv/|
    \.git/|
    \.mypy_cache/|
    __pycache__/|
    build/|
    dist/|
    *.egg-info/
  )

